.Results {
  height: 100vh;
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 3%;
  padding-bottom: 2%;
  background: #0E0E0E;
  display: flex;
  flex-direction: column;


  .slide-container {
    flex: 1;
    width: 100%;
    display: flex;
    gap: 300px;
    justify-content: space-between;
    overflow: scroll;
    scroll-snap-type: x mandatory;
  }

  .logo{
    margin-bottom: 30px;
  }
}
