.ArtistCard {
  min-height: 100%;
  color: white;
  min-width: 100%;
  padding-top: 30px;
  display: flex;
  scroll-snap-align: center;

  img{
    width: 400px;
    margin-bottom: 20px;
  }

  .artist-card-container{
    width: 50%;
  }

  .nominee-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    img{
        width: 150px;
    }
  }
}
